* {
    box-sizing: border-box;
  
}
article {
      border: 1px solid #ccc;
  padding: 1rem;  
    

  
}

.gerichte {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-bottom: 1rem;
}

.nav-list{
    display: flex;
   gap: 1rem;
  list-style: none;
  padding: 0;
  justify-content: center;
}


header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;  
}